.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0px;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 365px;
  margin-right: 0px;
}
.svg___5Nozh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__wcxbC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
